.navbar {
  padding-left: 20px;
}
.btn-success{
  text-decoration: none;
  color: white;
}
.navbar-fixed-top {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-right {
  margin-right: 20px;
}
.navbar-fixed-top {
  position: fixed !important;
}